* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(120deg, #f6d365, #fda085);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem 1rem;
  font-size: 2rem;
  border: none;
  background: white;
}

form input {
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

form button {
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  color: #fda085;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #fda085;
  color: white;
}

.todo-input {
  color: rgb(36, 36, 36);
}

button i {
  padding-right: 0.3rem;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  color: rgb(36, 36, 36);
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #fa897b;
  color: white;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.trash-btn {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.complete-btn {
  background: #d0e6a5;
}

.fa-trash,
.fa-check {
  pointer-events: none; /* cant click  on these anymore*/
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #fda085;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.select::after {
  content: "\25bc";
  position: absolute;
  background: #fa897b;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  transition: all 0.3s ease;
}

.select:hover::after {
  background: white;
  color: #fa897b;
}
